:root {
  /* Font variables */
  --font-inter: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-archivo: 'Archivo', system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Typography */
  font-family: var(--font-inter);
  font-weight: 400;
  line-height: 1.5;

  /* Colors */
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  --color-primary: #0786D4;
  --color-secondary: #E4F5FF;
  --color-lightgray: #f2f2f2;
  --color-primary-hover: #0072b9;
  --color-lightgray-hover: #e0e0e0;
  --color-main-background: #fafafa;
  --color-border: #b3b3b3;

  /* Rendering */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* Base styles */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-inter);
}

h1 {
  font-size: 2rem;
  font-family: var(--font-archivo);
  margin: 0;
  line-height: 1.2;
}

h2 {
font-size: 1.8rem;
  font-family: var(--font-archivo);
  line-height: 1.2;
}

p {
  font-family: var(--font-inter);
  color: black;
  margin: 0;
  line-height: 1.2;
}

.paragraph--gray {
  font-family: var(--font-inter);
  color: #444141;
  margin: 0;
  line-height: 1.2;
}

.paragraph--black-bold {
  font-family: var(--font-inter);
  color: black;
  margin: 0;
  line-height: 1.2;
  font-weight: 600;
}

small {
  font-family: var(--font-inter);
  color: black;
  margin: 0;
  font-size: 0.90rem;
  line-height: 1.2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

button {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 22px;
  padding-right: 22px;

  font-size: 0.9rem;
  font-weight: 500;

  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 6px;

  cursor: pointer;
  transition: background-color 0.1s;
}
button:hover {
  background-color: var(--color-primary-hover);
  transition: background-color 0.1s;
}

button:active {
  scale: 0.95;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

.whiteBtn {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 22px;
  padding-right: 22px;

  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-primary);

  background-color: white;
  border-radius: 6px;

  cursor: pointer;
  transition: background-color 0.1s;
}
.whiteBtn:hover {
  background-color: #e0e0e0;
  transition: background-color 0.1s;
}

.outlineBtn {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 7px;
  border: 1px solid red;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.1s;
  height: auto;
  color: red;
}
.outlineBtn:hover {
  background-color: red;
  color: white;
  transition: background-color 0.1s;
}

.cancelBtn {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 0.9rem;
  font-weight: 500;

  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 8px;

  cursor: pointer;
  transition: background-color 0.1s;
  color: black;
}
.cancelBtn:hover {
  background-color: #c0c0c0;
  transition: background-color 0.1s;
}

.delete-btn {
  background-color: #b84343; 
  border-color: #b84343;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #973131; 
  border-color: #A83838;
  transition: background-color 0.3s;  
}

input {
  background-color: #ffffff;
  color: black;
  width: 100%;
  height: 40px;
  padding: 12px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"], input[type="password"] {
  font-family: var(--font-inter);
}

input[type="checkbox"] {
  appearance: none;        
  -webkit-appearance: none;
  -moz-appearance: none;

  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  border-radius: 2px;

  border: 1px solid #757575;
  cursor: pointer;
  background-color: #F8F9FB;
  position: relative; 
}

input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 1px;
  background-color: var(--color-primary);
}

select {
  background-color: var(--color-lightgray);
  border: 0;
  border-radius: 5px;
  color: black;
  border: 1px solid var(--color-border);
  width: 160px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
}

.card {
  padding: 2em;
}

.divider {
    border-bottom: 1px solid #757070;
    margin: 0px 0;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-input-border {
  border: 2px solid red !important;
  animation: scalePulse 0.3s ease;
}

.disabled-input-bg {
  background-color: var(--color-lightgray);
}


@keyframes scalePulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

/* Light theme override */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/*/////////////////////////////// Transitions ///////////////////////////////////*/
/* Fade */
.fade-enter-active, .fade-leave-active {
transition: opacity 0.2s ease;
}
.fade-enter-from, .fade-leave-to {
opacity: 0;
}
.fade-enter-to, .fade-leave-from {
opacity: 1;
}

/* Slide left*/
.slide-left-enter-from  { transform: translateX(20px); opacity: 0; }
.slide-left-enter-active{ transition: transform .28s ease, opacity .28s ease; }
.slide-left-enter-to    { transform: translateX(0); opacity: 1; }

.slide-left-leave-from  { transform: translateX(0); opacity: 1; }
.slide-left-leave-active{ transition: transform .22s ease, opacity .22s ease; }
.slide-left-leave-to    { transform: translateX(-20px); opacity: 0; }

/* Slide down*/
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.2s ease;
}

.slide-down-enter-from,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(-15px);
  max-height: 0;
}

.slide-down-enter-to,
.slide-down-leave-from {
  opacity: 1;
  transform: translateY(0);
  max-height: 500px; /* adjust this depending on your content height */
}